{% extends 'bootstrap/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Cookin' by the Book
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

        <h1 class="pt-5 pb-2">Recipes:</h1>
        <h3>The very serious and functional Flask web app</h3>
        <p class="lead">This is a Flask web app. I made it using the internet.</p>
        <p>It ain't much, but it's honest work. <a href="https://github.com/emilycogsdill/cookingbythebook">View on Github</a>, if that's your thing.</p>
        <br></br>
      <h3>Search by ingredient:</h3>
        {{ wtf.quick_form(form) }}        
      <p class="pt-5"><strong>{{ message }}</strong></p>
        
      <h3>Browse by ingredient:</h3>
        <ul>
          {% for i in ingredients %}
          <li><a href="{{ url_for( 'ingredient', ingredient=i ) }}">{{ i }}</a></li>
          {% endfor %}
      </ul>
        
        <h3>All recipes:</h3>
        <ul>
            {% for r in recipes %}
            <li><a href="{{ url_for( 'recipe', recipe_id=r.id )}}">{{ r.name }}</a></li>
            {% endfor %}
        </ul>

      <h3>Is your thirst for chaos not yet slaked?</h3>
	  <p><a href="{{ url_for('add_record') }}">Submit a new recipe</a></p>
	  <p><a href="{{ url_for( 'select_record', letters='AF' ) }}">Edit or delete a recipe</a></p>

        
    </div>
  </div>
</div>

{% endblock %}
