{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Recipe Explorer
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Recipes Fr Y'azz</h1>

      <p class="lead">You gotta do the cookin by the book!</p>

      <h3>Browse by ingredient:</h3>
        <ul>
          {% for i in ingredients %}
          <li><a href="{{ url_for( 'ingredient', ingredient=i ) }}">{{ i }}</a></li>
          {% endfor %}
      </ul>
        
      <h3>Discrete vs. Continuous strats:</h3>
        <ul>
          {% for c in categories %}
          <li><a href="{{ url_for( 'inventory', category=c ) }}">{{ c }}</a></li>
          {% endfor %}
      </ul>
        
        <h3>All recipes:</h3>
        <ul>
            {% for r in recipes %}
            <li><a href="{{ url_for( 'recipe', recipe_id=r.id )}}">{{ r.title }}</a></li>
            {% endfor %}
        </ul>

    </div>
  </div>
</div>

{% endblock %}
